*{
    margin:0;
    padding:0;
    line-height: 1.5rem;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    padding: 5% 15% 5% 15%;

}

.email,.number,h1{
    text-align: center;
}
table{
    width: 100%;
}
hr{
    margin: 5px 0 5px 0;;
}
h3{
    padding-top: 15px;
}
td{
    text-align: center ;
}
ul li{
    list-style-type: none;
    text-align: left;
}
ol li{
    list-style-type: none;
    text-align: left;
}
.personaldetails{
    display: block;
}
.personaldetails tr td{
    text-align: left;
}
